@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
:root{
    --green:#1B4303;
    --pink:rgb(152, 233, 118);
    --black: #1d1c1c;
    --white: #fff;
    --light-color:#666;
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
section{
    padding: 3rem 7%;
  }
  
  .heading{
     font-size: 6rem;
     color: var(--black);
     text-align: center;
     text-transform: uppercase;
     font-weight: bolder;
     margin-bottom: 6rem;
   }
   
   .heading span{
     color: var(--green);
     text-transform: uppercase;
   }
   .header{
     position: fixed;
     top: 0; left: 0; right: 0;
     z-index: 1000;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 2rem 9%;
     background:  #E6ECE2;
     box-shadow: var(--box-shadow);
     height: 90px;
     padding-bottom: 10px;
   }
   
   
   .header .navbar a{
     font-size: 20px;
     margin: 0 1rem;
     color: var(--black);
     text-decoration: none;
     color: green;
   }
   
   .header .navbar a:hover,
   .header .icons div:hover{
     color: var(--pink);
   }
   
   .header .icons div{
     font-size: 2.5rem;
     margin-left: 1rem;
     color: var(--black);
     cursor: pointer;
   }
   
   #menu-btn{
     display: none;
   } 
  

.container{
    background: linear-gradient(45deg, rgb(12, 63, 29), lightgreen);
    padding:15px 9%;
    padding-bottom: 100px;
}

.container .heading{
    text-align: center;
    padding-bottom: 15px;
    color:#fff;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:100px;
}

.container .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding:30px 20px;
}

.container .box-container .box img{
    height: 80px;
}

.container .box-container .box h3{
    color:#444;
    font-size: 15px;
    padding:10px 0;
}
.container .box-container .box h5{
    font-size: 15px;
    padding:1px 0;
    text-align: left;
    margin-left: 50px;    
}
.container .box-container .box p{
    color:#777;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.8;
}


.container .box-container .box .btn{
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.container .box-container .box .btn:hover{
    letter-spacing: 1px;
}

.container .box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}

@media (max-width:768px){
    .container{
        padding:20px;
    }
}
