
.carousel-inner {
  height: 500px;
  width: 500px;
}
.carousel-item{
  height: 500px;
}
.carousel-item img {
  object-fit: cover;
  width: 50%;
  height: 100%;
}
@media (max-width: 700px) {
  .carousel-inner {
    height: 300px;
  }
}

@media (min-width: 769px) and (max-width: 500px) {
  .carousel-inner {
    height: 400px;
  }
}

@media (min-width: 500px) {
  .carousel-inner {
    height: 500px;
  }
}
.choose{
  width: 77%;
  margin:auto;
}
.location {
   height: 100vh;
   border: 2px ;
   border-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.location h1 {
  color: #1B4303;
  margin-bottom: 60px;
  
}

iframe {
  width: 77%;
  height: 500px;
  border: 2px solid black;
  border-color: black;

}
