
.card{
   border-radius:50px; 
   /* height: 60px; */
   width: 100%;
   display: flex; 
   margin-left: 4;
   margin-right: 4;
   margin-top: 10;
   margin-bottom: 10;
   
}
.card:hover {
    box-shadow: 0 0 10px 0 rgba(0, 255, 0, 0.382); /* Green glow effect */
}
 .ambulance{
    height:50%
 }
 .emergency{
    height:50%
 }
 .labor{
    height:50%
 }
 .opd{
    height:50%
 }
 .private{
    height:50%

 }
 .or{
    height:50%
 }
 .lab{
    height:50%

 }
 .rad{
    height:50%
 
 }


 
 .btn-success{
    margin-bottom: 50;
 }


 

